.btn{
    padding: 8px 34px;
    border-radius: 40px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    // font-style: italic;
    // text-transform: uppercase;
    color: #ffffff;
    transition: $transition;
    &:hover, &:target, &:focus-visible{
        color: #ffffff;
    }
    &-primary{
        background: linear-gradient(90deg, $teal 0%, $primary 100%);
        position: relative;
        z-index: 1;

        &:hover{
           &::before {
            opacity: 1;
          }
        }
        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, $teal 100%, $primary 0%);
            z-index: -1;
            transition: opacity 0.5s linear;
            opacity: 0;
            border-radius: 40px;
          }
          
    }
    &-secondary{
        background: $secondary;
        color: $black;
        &:hover{
            color: $black;
            background: rgba(250, 255, 3, 0.6);
        }
    }
    &-white{
        background: $white;
        color: $teal;
    }

    &-link_primary {
        text-decoration: none;
        font-style: normal !important;
        padding: 0 !important;
        span{
            color: $primary;
            font-size: 14px;
            margin-right: 5px;
            font-style: unset !important;
            padding: unset !important;
            border-radius: unset !important;
        }
        &:hover{
            span{
                color: $druga;
                svg{
                    path{
                        fill: $druga;
                    }
                }
            }
        }
    }

}

.link-text {
    @extend .btn-link_primary;
}