.btn{
    padding: 8px 34px;
    border-radius: 40px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: #ffffff;
    transition: $transition;
    &:hover{
        color: #ffffff;
    }
    &-primary{
        background: $primary;
        &:hover{
            background: #c38667;

        }
    }
    &-secondary{
        background: linear-gradient(90deg, $teal 0%, $secondary 100%);
        &:hover{
            
        }
    }
    &-white{
        background: $white;
        color: $teal;
    }
}

.arrow-link{
    text-decoration: none;
    .link-text{
        color: $secondary;
        font-size: 14px;
        margin-right: 5px;
        font-weight: 700;
    }
}