.btn{
    padding: 8px 34px;
    border-radius: 40px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    font-style: italic;
    // text-transform: uppercase;
    color: #ffffff;
    transition: $transition;
    &:hover, &:target, &:focus-visible{
        color: #ffffff;
    }
    &-primary{
        background: linear-gradient(90deg, $teal 0%, $primary 100%);
        &:hover{
           background: linear-gradient(90deg, rgba(38, 85, 74, 0.6) 0%, rgba(42, 128, 127, 0.6) 100%);
        }
    }
    &-secondary{
        background: $secondary;
        &:hover{
            background: rgba(202, 115, 70, 0.8);
        }
    }
    &-white{
        background: $white;
        color: $teal;
    }

    &-link_primary {
        text-decoration: none;
        font-style: normal !important;
        padding: 0 !important;
        span{
            color: $primary;
            font-size: 14px;
            margin-right: 5px;
            font-style: unset !important;
            padding: unset !important;
            border-radius: unset !important;
        }
        &:hover{
            span{
                color: $druga;
                svg{
                    path{
                        fill: $druga;
                    }
                }
            }
        }
    }

}

.link-text {
    @extend .btn-link_primary;
}