#header{
    padding-top: 20px;
    padding-bottom: 20px;
    // position: absolute;
    background: white;
    width: 100%;
    // z-index: 99;
    .header-wrapper{
        padding-left: 34px;
        padding-right: 34px;
        @include media-breakpoint-down(xl){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .search{
        // margin-left: 20px;
        padding: 0;
    }
    .navigation, .mobile-navigation{
        ul{
            display: flex;
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
            li{
                a{
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration: none;
                    color: $black;
                    transition: $transition;
                    &:hover{
                        color: $druga;
                    }
                }
                &.active{
                    a{
                        color: $primary;
                        @include media-breakpoint-down(xl){
                            color: $secondary
                        }
                    }
                }
                &+li{
                    a{
                       @include fluid('padding-left', 6, 24);
                    }
                }
            }
        }
    }
    .mobile-navigation{
        ul{
            display: block;
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
            li{
                padding: 14px;
              
                &+li{
                    a{
                       padding-left: 14px;
                    }
                }  
                a{
                    padding: 14px;
                    font-size: 22px;
                    color: $white;
                }
            }
        }
    }
    .membership{
        display: flex;
        margin-left: 24px;
        padding-left: 24px;
        border-left: 1px solid #B7CED3;

        #membership-login {
            margin: auto;
            display: flex;

            .login-btn {
                padding-right: 20px;
            }

            .login-btn-footer {
                padding-left: 20px;
                padding-right: 0 !important;
            }
        }

        &-btn{
            font-size: 14px;
            padding: 10px 40px;
            // margin-left: 28px;
        }
        @include media-breakpoint-down(xl){
            margin-left: 0;
            padding-left: 0;
            border-left: none;
        }
    }

    #hamburger{
        width: 30px;
        height: 22px;
        transition: $transition;
        border: none;
        background: transparent;
        padding: 0;
        justify-content: space-between;
        flex-direction: column;
        span{
            display: block;
            height: 2px;
            width: 100%;
            background-color: $primary;
        }
    }

    .offcanvas{
        width: 100%;
        background: $gradient;
        .offcanvas-header{
            a {
                svg {
                    width: 100px;
                }
            }
            padding: 20px;
            .btn-close{
                width: 30px;
                height: 22px;
                transition: $transition;
                background: transparent;
                padding: 0;
                opacity: 1;
                position: relative;
                span{
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: $secondary;
                    transform: rotateZ(135deg);
                    &:nth-child(1){
                        transform: rotateZ(45deg);
                    }
                }
            }
        }
        .offcanvas-body{
            ul{
                text-align: center;
                li{
                    a:hover{
                        color: $secondary;
                    }
                }
            }
        }
        .offcanvas-footer{
            padding: 40px 15px;
        }
    }
}

.secondary-nav{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    @include media-breakpoint-down(xl){
        flex-direction: column;
        ul{
           overflow-x: scroll;
           flex-wrap: nowrap;
           width: 100%;
            li{
                display: inline-block !important;
                white-space: nowrap;
                flex: 0 0 auto;
                margin-left: 24px;
            }
        }
    }
    .title-pill{
        background: $gradient;
        margin-right: 34px;
        padding: 12px 95px 12px 34px;
        height: 100%;
        @include media-breakpoint-down(xl){
            width: 100%;
            margin-right: 0;
        }
        p{
            text-transform: uppercase;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        display: flex;
        margin-bottom: 0;
        li{
            display: block;

            &+li{
                margin-left: 24px;
            }
            &.active{
                a{
                    color: $primary;
                }
            }
            a{
                font-size: 14px;
                padding: 12px 0;
                display: block;
                color: $black;
                text-decoration: none;
                transition: $transition;
                font-weight: 700;
                &:hover{
                    color: $druga;
                }
            }
        }
    }
}