#closedContentModal{
    max-width: 100%;
    background: linear-gradient(0.48deg, #FFFFFF 69.09%, rgba(255, 255, 255, 0) 99.45%);
    top: -10%;
    position: absolute;
    height: 110%;
    .modal-dialog{
        top: 30%;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x)*.5);
        padding-left: calc(var(--bs-gutter-x)*.5);
        margin-right: auto;
        margin-left: auto;
        max-width: unset;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media(min-width: 576px) {
                max-width:540px !important;
        }
        
        @media(min-width: 768px) {
                max-width:720px !important;
        }
        
        @media(min-width: 992px) {
                max-width:960px !important;
        }
        
        @media(min-width: 1200px) {
                /* max-width:1160px; */
        }
        
        @media(min-width: 1400px) {
                max-width:1170px !important;
        }
        background: $gradient;
        border-radius: 8px;

        .no-slider{
            padding: 80px 0px 80px 100px;
            form{
                display: flex;
                flex-direction: column;
                input{
                    width: 60%;
                    font-size: 16px;
                    padding: 12px 16px;
                    color: $white;
                    margin-bottom: 30px;
                    border: 1px solid #BCBDBF;
                    background: transparent;
                    &::placeholder{
                        color: $white;
                    }
                }
                button{
                    width: fit-content;
                }
            }
        }
        .discount-pill{
            font-size: 12px;
            color: "black";
            padding: 6px 8px;
            background: $secondary;
            margin-right: 12px;
            font-weight: 700;
            border-radius: 8px;
        }
        .images-wrapper{
            position: relative;
            .person{
                position: relative;
                z-index: 5;
                margin-bottom: 0 !important;
            }
        }
        .text-wrapper{
            position: relative;
            z-index: 9;
    
            .small-text{
                color: $white;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .title{
                margin: 24px 0;
                color: $white;
            }
            .description{
                margin-bottom: 24px;
                color: $white;
            }
        }
        
    }
    
    .modal-content{
        background: $gradient;
    }
    
}

.modal-backdrop{
    display: none;
}
.modal-open{
    overflow-y: auto !important;
    padding-right: 0 !important;
}


#shopPopup, .shop-module{
    color: $white;
    .modal-dialog{
        max-width: 500px;
        @include media-breakpoint-down(lg){
            max-width: 90%;
        }
    }
    .modal-content, .big-wrapper{
        min-height: 300px;
        // padding-left: 100px;
        // padding-right: 100px;
        background-size: cover;
        @include media-breakpoint-down(lg){
            min-height: 400px;
            padding-left: 24px;
            padding-right: 24px;
        }
        .modal-body{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .modal-title{
            padding-top: 24px;
            padding-bottom: 24px;
        }
        .small-wrapper{
            display: flex;
            align-items: center;
            .pill{
                font-size: 12px;
                background-color: $secondary;
                padding: 6px 8px;
                border-radius: 8px;
                color: $black;
            }
            .short-description{
                margin-bottom: 0;
                font-size: 14px;
                margin-left: 12px;
                color: $white;
            }
        }
        .close-button{
            position: absolute;
            top: 25px;
            right: 25px;
            background: none;
            z-index: 99;
        }
        .btn{
            span{
                color: $secondary;
            }
            svg{
                path{
                    fill: $secondary;
                }
            }
        }
    }
}

.shop-module{
    background-size: cover;
    .big-wrapper{
        min-height: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        padding-left: 0;
        padding-right: 0;
    }
}