.post-hero{
    @include fluid('padding-top', 30, 60);
    padding-bottom: 8px;
    .small-text{
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 24px;
    }
    .title{
        margin-bottom: 40px;
    }
    .hero-img{
        height: 400px;
        object-fit: cover;
        padding-bottom: 60px;
    }
    .info{
        @include media-breakpoint-down(lg){
            flex-direction: column;
            .social-icons{
                margin-top: 20px;
            }
        }
        span{
            font-size: 14px;
            color: #666666;
        }
        .date{
            padding-right: 12px;
            padding-left: 12px;
            border-right: 1px solid $grey-light;
            font-weight: 600;
            color: $black;
        }
        .author{
            font-weight: 600;
            margin-left: 12px;
            color: $black;

        }
        .social-icon+.social-icon{
            margin-left: 24px;
        }
    }
}
.post-content{
    @include fluid('padding-bottom', 40, 120);
    position: relative;
    .content{
        h1, h2, h3, h4, h5, h6{
            font-weight: 700;
            font-style: normal;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 30px;
            font-size: 16px;
        }
        img{
            margin-bottom: 30px;
        }
        .blue-background{
            background-color: #ECF4F8;
            padding: 12px;

            h1, h2, h3, h4, h5, h6, p {
                margin-bottom: 0 !important;
            }
        }
        .quote{
            padding-left: 70px;
            margin-top: 30px;
            position: relative;
            &::before{
                content: url("data:image/svg+xml,%3Csvg width='46' height='37' viewBox='0 0 46 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 37V24.6213C0 19.9963 0.82388 15.7341 2.47164 11.8346C4.1194 7.93505 6.91144 3.9902 10.8478 0L17.9881 5.57721C15.6995 7.84437 13.9602 9.9755 12.7701 11.9706C11.5801 13.9657 10.802 16.0061 10.4358 18.0919H19.2239V37H0ZM26.7761 37V24.6213C26.7761 19.9963 27.6 15.7341 29.2478 11.8346C30.8955 7.93505 33.6876 3.9902 37.6239 0L44.7642 5.57721C42.4756 7.84437 40.7363 9.9755 39.5463 11.9706C38.3562 13.9657 37.5781 16.0061 37.2119 18.0919H46V37H26.7761Z' fill='%2326554A'/%3E%3C/svg%3E");
                display: block;
                position: absolute;
                left: 0;
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                height: calc(100% - 60px);
                width: 1px;
                background-color: #bcbdbf;
                bottom: 0;
                left: 22px;
            }
        }
    }
    .sidebar{
        .related{
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 12px;
            &-social{
                margin-bottom: 24px;
                margin-top: 50px;
            }
            &-categories{
                margin-top: 40px;
                margin-bottom: 24px;
            }
        }
        .social-icons{
            .social-icon{
                text-decoration: none;
                &+.social-icon{
                    margin-left: 12px;
                }
            }
        }
        .category-pills{
            .category-pill{
                padding: 6px 8px;
                border-radius: 4px;
                font-size: 12px;
                color: $white;
                background-color: $primary;
                text-decoration: none;
                transition: $transition;
                &:hover{
                    background: $druga;
                }
                &+.category-pill{
                    margin-left: 12px;
                }
            }
        }
        .card{
            position: relative;
            border: none;
            border-radius: 8px;
            border: 1px solid #BCBDBF;
            background-clip: padding-box;
            margin-bottom: 12px;
            img{
                aspect-ratio: 260/160;
                object-fit: cover;
            }
            .category-pill{
                position: absolute;
                top: 8px;
                right: 8px;
                background-color: $teal;
                padding: 6px 8px;
                color: $white;
                border-radius: 4px;
                font-size: 12px;
            }
            .card-body{
                padding: 28px 28px 16px 28px;
                .card-title{
                    margin-bottom: 15px;
                }
                .date{
                    margin-bottom: 12px;
                    color: $primary;
                    font-size: 14px;
                    font-weight: 700;
                }

            }
            .card-footer{
                border: none;
                background-color: transparent;
                padding: 0px 28px 36px 28px;
                span{
                    color: #2A807F;
                    font-size: 15px;
                    margin-right: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}
