// $black: black;
// $white: white;

// $primary-100: #FF6767;
// $primary-200: #DB2D43;
$teal: #26554A;
$coral: #208999;

$transition: .3s ease-in-out;

$font-family: 'Nunito Sans';


// $secondary: yellow;
// $secondary-400: #FFD700;
// $secondary-500: #FCC200;