// $white: white;

// $secondary-100: #FF6767;
// $secondary-200: #DB2D43;
$teal: #26554A;
$coral: #208999;
$dark-blue: #263546;
$dark-green: #26554A;
$blue: #008A9A;
$orange: #CA7346;
$black: #000000;
$white: #ffffff;

$primary: #2A807F;
$secondary: #FAFF03;
$druga: #26554A;
$grey-light: #F1F1F2;
$gradient: linear-gradient(90deg, #26554A 0%, #2A807F 100%);  

// $primary: red;

$transition: .3s ease-in-out;

$font-family: 'Nunito Sans';



$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1170px
);
// $primary: yellow;
// $primary-400: #FFD700;
// $primary-500: #FCC200;