.counter{
    padding-top: 60px;
    padding-bottom: 60px;

    .img-wrap {
        width: 296.87px;
        height: 125px;
        margin-inline-start: auto;
        @include media-breakpoint-down(lg){
            width: 100%;
        }
        img {
            height: 100%;
            width: 100%;
        }
        svg{
            width: 100%;
        }
    }

    .quote{
        background-color: $grey-light;
        padding: 24px;
        @include media-breakpoint-down(lg){
            margin-top: 29px;
        }
        .quotations{
            width: 50px;
        }
        .content{
            width: calc( 100% - 80px );
            margin-left: 30px;
        }
    }
    .counters{
        // margin-top: 120px;
        gap: 32px;
        @include fluid('margin-top', 40, 120);
        @include media-breakpoint-down(lg){
            flex-wrap: wrap;
            .single{
                width: calc( 50% - 15px );
                margin-bottom: 20px;
                &:nth-of-type(2n){
                    margin-left: 15px;
                }
            }
        }
        @include media-breakpoint-down(sm){
            .single{
                width: 100%;
                margin-left: 0 !important;
            }
        }
    }

    .single{
        border-top: 2px solid $druga;
        padding-top: 16px;

        span{
            font-size: 56px;
            color: $druga;
            font-weight: 700;
            &.text{
                font-size: 20px;
                color: $black;
                font-weight: 400;
            }
        }
    }

}