.counter{
    padding-top: 60px;
    padding-bottom: 80px;
    .quote{
        background-color: $grey-light;
        padding: 24px;
        @include media-breakpoint-down(lg){
            margin-top: 29px;
        }
        svg{
            width: 50px;
        }
        div{
            width: calc( 100% - 80px );
            margin-left: 30px;
        }
    }
    .counters{
        // margin-top: 120px;
        @include fluid('margin-top', 40, 120);
        @include media-breakpoint-down(lg){
            flex-wrap: wrap;
            .single{
                width: calc( 50% - 15px );
                margin-bottom: 20px;
                &:nth-of-type(2n){
                    margin-left: 15px;
                }
            }
        }
        @include media-breakpoint-down(sm){
            .single{
                width: 100%;
                margin-left: 0 !important;
            }
        }
    }

    .single{
        border-top: 2px solid $secondary-1;
        padding-top: 16px;

        span{
            font-size: 56px;
            color: $secondary-1;
            font-weight: 700;
            &.text{
                font-size: 20px;
                color: $black;
            }
        }
    }

}