.facts-and-cards{
    padding-top: 60px;
    background-size: cover;
    min-height: 855px;
    margin-bottom: 350px;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    @include media-breakpoint-down(lg){
        margin-bottom: 0;
        min-height: unset;
    }
    .small-title{
        @include fluid('margin-top', 60, 120);
        margin-bottom: 24px;
    }
    .title{
        margin-bottom: 40px;
    }
    .white-card-wrap{
        @include media-breakpoint-down(lg){
            margin-bottom: 30px;
        }
    }
    .white-card{
        padding: 30px 24px;
        border: none;
        border-radius: 8px;
        .card-body{
            padding: 0;
            h4{
                color: $secondary-1;
                margin-bottom: 16px;
            }
        }
        .card-footer{
            padding: 0;
            background-color: transparent;
            border: none;
            img{
                border-radius: 50%;
                height: 53px;
                width: 53px;
                object-fit: cover;
                margin-right: 16px;
            }
            p{
                margin: 0;
                &.title{
                    font-weight: 700;
                    color: $secondary-1;
                }
            }
        }
    }
}
.factss{
    position: relative;
    @include media-breakpoint-down(lg){
        padding-bottom: 60px;
    }
    .cards-container{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: -475px;
        @include media-breakpoint-down(lg){
            position: static;
            transform: none;
        }
    }
}

