.news-hub{
    background: $grey-light;
    @include fluid('padding-top', 30, 60);
    @include fluid('padding-bottom', 30, 70);

    .description{
        margin-bottom: 24px;
    }
    .title{
        margin-bottom: 24px;
    }
    .text-wrapper{
        margin-bottom: 40px;
    }
    .card-column{
        margin-bottom: 30px;
    }
    .full-width-card{
        .card{
            flex-direction: row;
            .image-wrapper{
                height: 348px;
                width: 50%;

                img {
                    height: inherit;
                }

                .category-pill{
                    right: 16px;
                }
            }
            .text-column{
                width: 50%;
            }
        }
    }
    .grid-card {
        .image-wrapper {
            height: 228px;

            img {
                height: inherit;
            }
        }
    }
    .card{
        position: relative;
        border: none;
        border-radius: 8px;
        &:hover{
            .image-wrapper{
                img{
                    transform: scale(1.2);
                }
            }
        }
        
        .image-wrapper{
            position: relative;
            overflow: hidden;

            iframe{
                aspect-ratio: 16/9;
                width: 100%;
                height: 100%;
            }
            img{
                // height: 320px;
                aspect-ratio: 365/228;
                object-fit: cover;
                transition: $transition;
            }
            .category-pill{
                position: absolute;
                top: 8px;
                right: 8px;
                background-color: $teal;
                padding: 6px 8px;
                color: $white;
                border-radius: 4px;
                font-size: 12px;
            }
        }
       
        .card-body{
            .date{
                padding-bottom: 10px;
                font-size: 14px;
                color: #566F8B;
            }
            .card-title{
                margin-bottom: 15px;
            }
            .card-text{
                color: $dark-blue;
                font-size: 16px;
            }
        }
        .card-footer{
            border: none;
            background-color: $white;
            padding-bottom: 28px;
            span{
                color: #2A807F;
                font-size: 14px;
                margin-right: 5px;
                font-weight: 600;
            }
        }
    }
    .button-wrapper{
        padding-top: 20px;
        @include media-breakpoint-down(lg){
            padding-top: 0;
        }

    }
    .filter-sort{
        padding-bottom: 40px;
        select{
            width: 200px;
            font-size: 14px;
            color: #666666;
            font-weight: 700;
            padding: 13px 0px 13px 16px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background: $white url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L7 7L13 1" stroke="%23666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
            border: 1px solid #F1F1F2;
            background-position: right 26px top 50%;

            border-radius: 4px;
            @include media-breakpoint-down(lg){
                width: 100%;
            }
        }
    }
    
}

.video-hub{
    padding-top: 20px;
    @include fluid('padding-bottom', 40, 80);
    .hub-section{
        padding-top: 40px;
        .title{
            margin-bottom: 40px;
        }
        .description{
            margin-bottom: 40px;
        }
        .card-column{
            .card-body, .card-footer{
                padding-left: 28px;
                padding-right: 28px;
            }
            .card-body{
                padding-top: 28px;
            }
        }
        .full-width-card{
            .card-body{
                flex: unset;
                padding: 28px;
                padding-right: 100px;
                @include media-breakpoint-down(lg){
                    padding-right: 28px
                }
            }
        }
    }
}
