.news-hub{
    background: $grey-light;
    @include fluid('padding-top', 30, 60);
    @include fluid('padding-bottom', 30, 70);

    .description{
        margin-bottom: 24px;
    }
    .title{
        margin-bottom: 24px;
    }
    .text-wrapper{
        margin-bottom: 40px;
    }
    .card-column{
        margin-bottom: 30px;
    }
    .full-width-card{
        .card{
            flex-direction: row;
            .image-wrapper{
                width: 50%;
                .category-pill{
                    right: 16px;
                }
            }
            .text-column{
                width: 50%;
            }
        }
    }
    .card{
        position: relative;
        border: none;
        border-radius: 8px;
        &:hover{
            .image-wrapper{
                img{
                    transform: scale(1.2);
                }
            }
        }
        
        .image-wrapper{
            position: relative;
            overflow: hidden;
            img{
                height: 320px;
                object-fit: cover;
                transition: $transition;
            }
            .category-pill{
                position: absolute;
                top: 8px;
                right: 8px;
                background-color: $teal;
                padding: 6px 8px;
                color: $white;
                border-radius: 4px;
                font-size: 12px;
            }
        }
       
        .card-body{
            .date{
                padding-bottom: 10px;
                font-size: 14px;
                color: #566F8B;
            }
            .card-title{
                margin-bottom: 15px;
            }
            .card-text{
                color: $dark-blue;
                font-size: 16px;
            }
        }
        .card-footer{
            border: none;
            background-color: $white;
            padding-bottom: 28px;
            .link-text{
                color: #2A807F;
                font-size: 14px;
                margin-right: 5px;
                font-weight: 600;
            }
        }
    }
    .button-wrapper{
        padding-top: 20px;
        @include media-breakpoint-down(lg){
            padding-top: 0;
        }

    }
    .filter-sort{
        padding-bottom: 40px;
        select{
            width: 200px;
            font-size: 14px;
            padding: 13px 0px 13px 16px;
            @include media-breakpoint-down(lg){
                width: 100%;
            }
        }
    }
    
}
